#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#videoDiv {
  /*  making the videoDiv fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  background-color: white;
  opacity: 0.6;
}

body {
  text-align: center;
}

.jumbotron {
  background-color: black;
  padding: 1rem;
}

.container {
  text-align: left;
  padding: 0rem;
}

h1 {
  float: left;
  font-family: Baloo Chettan;
  font-size: 2rem;
  font-style: italic;
  color: white;
}

#formDiv {
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 100px;
}

user-input {
  margin-bottom: 1rem;
  min-width: 10rem;
}

.form-control {
  border: solid 1px black;
  padding: 1.5rem 8rem;
  border: solid 2px black;
  font-size: 1.5rem;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  text-align: center;
  padding: 0;
  font-family: Baloo Chettan;
}

#search-link {
  color: black;
}

.lead {
  clear: left;
  color: white;
}

#mapContainer {
  min-height: 24rem;
}

.card {
  margin: 3rem;
  font-family: Baloo Chettan;
  border: solid 2px black;
  background-color: gainsboro;
}

#search2 {
  margin-top: 1rem;
  border: solid 2px black;
  font-family: Baloo Chettan;
  background-color: hotpink;
}

#search {
  border: solid 2px black;
  margin-bottom: 1rem;
  font-family: Baloo Chettan;
}

#index2jumbo {
  color: white;
}

a:hover {
  text-decoration: unset;
}

small {
  color: white;
  font-size: 1rem;
  font-style: italic;
}
